{:paths ["src"]
 :deps {io.github.kotoba-lang/json {:git/sha "b47b06486b3ad53051bc7d8bf361f4176f467202"}}
 :aliases
 {:test {:extra-paths ["test"]
         :main-opts ["-m" "simulated-user.test-runner"]}
  :live {:extra-paths ["dev"]
         :main-opts ["-m" "simulated-user.live-smoke"]}}}
